<nav class="navbar bg-dark">
    <div class="container">
            <div id="menu">

        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="identificacao">Identificação Parceiro</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="dadosInstalacao">Obter Dados Instalação</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="historicoConsumo">Histórico Consumo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Código de Barras</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Valida Possibilidade Religação</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Solicitar Religação</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Cadastrar Telefone Parceiro</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Protocolo Inicial</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Modificar Protocolo Inicial</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Gerar Contato</a>
            </li>
        </ul>

    </div>
    </div>
</nav>