<nav class="navbar bg-dark">
    <div class="container">
        <div id="menu">

            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="identificacao">Identificação Parceiro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="dadosInstalacao">Obter Dados Instalação</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="pagamentoProcessamento">Pagamento em andamento</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="historicoConsumo">Histórico Consumo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="debitosCpfCnpj">Débitos por cpf ou cnpj</a>
                </li>
            </ul>

        </div>
    </div>
</nav>